$color_1: #272829;
$color_2: #0563bb;
$color_3: #067ded;
$color_4: #ffffff;
$color_5: #45505b;
$color_6: #f0fff0;
$color_7: #000000;
$color_8: navy;
$color_9: #8fbc8f;
$color_10: #728394;
$color_11: #011426;
$color_12: #47aeff;
$color_13: #ffa76e;
$color_14: #e80368;
$color_15: #ffbb2c;
$color_16: #ff5828;
$color_17: #11dbcf;
$color_18: #ff0000;
$font-family_1: "Open Sans",
sans-serif;
$font-family_2: "Raleway",
sans-serif;
$font-family_3: "Poppins",
sans-serif;

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
/* Mobile Navigation */
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# interests
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Certifications
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
body {
  font-family: $font-family_1;
  color: $color_1;
  background: #ede3da;
}

a {
  color: $color_2;

  &:hover {
    color: $color_3;
    text-decoration: none;
  }
}

h1 {
  font-family: $font-family_2;
}

h2 {
  font-family: $font-family_2;
}

h3 {
  font-family: $font-family_2;
}

h4 {
  font-family: $font-family_2;
}

h5 {
  font-family: $font-family_2;
}

h6 {
  font-family: $font-family_2;
}

.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: $color_2;
  color: $color_4;
  transition: display 0.5s ease-in-out;
  z-index: 99999;

  i {
    font-size: 24px;
    position: absolute;
    top: 7px;
    left: 8px;
  }

  &:hover {
    color: $color_4;
    background: #0678e3;
    transition: background 0.2s ease-in-out;
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: $color_4;

  &:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid $color_2;
    border-top-color: $color_4;
    border-bottom-color: $color_4;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

.nav-menu {
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  >ul {
    >li {
      position: relative;
      white-space: nowrap;
    }
  }

  a {
    display: flex;
    align-items: center;
    color: $color_5;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;

    i {
      font-size: 20px;
    }

    span {
      padding: 0 5px 0 7px;
      color: $color_5;
    }

    &:hover {
      color: $color_4;
      background: $color_10;
      box-shadow: 3px 1px 5px $color_7;
      width: 100%;
      color: $color_4;

      span {
        color: $color_4;
        display: block;
      }
    }
  }

  .active {
    >a {
      color: $color_4;
      background: $color_10;
      box-shadow: 3px 1px 5px $color_7;

      span {
        color: $color_4;
      }
    }
  }

  li {
    &:hover {
      >a {
        color: $color_4;
        background: $color_10;
        box-shadow: 3px 1px 5px $color_7;
        width: 100%;
        color: $color_4;

        span {
          color: $color_4;
          display: block;
        }
      }
    }
  }
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;

  i {
    color: $color_5;
  }
}

.mobile-nav-active {
  overflow: hidden;

  #header {
    left: 0;
  }

  .mobile-nav-toggle {
    i {
      color: $color_2;
    }
  }
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/banner-image.jpg") top left no-repeat;
  background-size: cover;
  position: relative;

  &:before {
    content: "";
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  h1 {
    margin: -186px 0 0 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: $color_6;
    position: relative;
    left: 597px;
    text-shadow: 3px 2px 5px $color_7;
  }

  p {
    color: $color_7;
    margin: 15px 0 0 0;
    font-size: 26px;
    font-family: $font-family_3;
    position: relative;
    left: 602px;
    text-shadow: 3px 2px 5px $color_7;

    span {
      font-weight: bold;
      color: $color_8;
      letter-spacing: 5px;
      text-shadow: 3px 2px 5px $color_7;
    }
  }

  .social-links {
    margin-top: 30px;
    position: relative;
    left: 600px;

    a {
      font-size: 24px;
      display: inline-block;
      color: $color_7;
      line-height: 1;
      margin-right: 20px;
      transition: 0.3s;
      padding: 11px;
      background: white;
      border-radius: 50%;
      box-shadow: 3px 1px 5px $color_7;

      &:hover {
        color: $color_9;
      }
    }
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;

  h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: $color_5;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: $color_14;
      bottom: 1px;
      left: calc(50% - 60px);
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: $color_2;
      bottom: 0;
      left: calc(50% - 20px);
    }
  }

  p {
    margin-bottom: 0;
  }
}

.about {
  .content {
    h3 {
      font-weight: 700;
      font-size: 26px;
      color: $color_10;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding-bottom: 10px;
      }

      i {
        font-size: 20px;
        padding-right: 2px;
        color: $color_2;
      }
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.interests {
  .count-box {
    padding: 30px 30px 25px 30px;
    margin-top: 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: $color_4;
    box-shadow: 3px 1px 5px $color_7;

    i {
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 24px;
      background: $color_2;
      padding: 12px;
      color: $color_4;
      border-radius: 50px;
    }

    span {
      font-size: 36px;
      display: block;
      font-weight: 600;
      color: $color_11;
    }

    p {
      padding: 0;
      margin: 0;
      font-family: $font-family_2;
      font-size: 14px;
    }
  }
}

.skills {
  .progress {
    height: 50px;
    display: block;
    background: none;

    .skill {
      padding: 10px 0;
      margin: 0 0 6px 0;
      text-transform: uppercase;
      display: block;
      font-weight: 600;
      font-family: $font-family_3;
      color: $color_5;

      .val {
        float: right;
        font-style: normal;
      }
    }
  }

  .progress-bar-wrap {
    background: #f2f3f5;
  }

  .progress-bar {
    width: 1px;
    height: 10px;
    transition: .9s;
    background-color: $color_2;
  }
}

.resume {
  .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $color_5;
  }

  .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid $color_2;
    position: relative;

    h4 {
      line-height: 18px;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: $font-family_3;
      color: $color_2;
      margin-bottom: 10px;
    }

    h5 {
      font-size: 16px;
      background: #f7f8f9;
      padding: 5px 15px;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 10px;
    }

    ul {
      padding-left: 20px;

      li {
        padding-bottom: 10px;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      left: -9px;
      top: 0;
      background: $color_4;
      border: 2px solid $color_2;
    }
  }
}

.certifications {
  .icon-box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: $color_4;
    box-shadow: 2px 0px 7px 0px $color_7;
    margin: 20px 0;
    width: 100%;

    .icon {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: ease-in-out 0.3s;
      position: relative;

      i {
        font-size: 36px;
        transition: 0.5s;
        position: relative;
      }

      svg {
        position: absolute;
        top: 0;
        left: 0;

        path {
          transition: 0.5s;
          fill: #f5f5f5;
        }
      }
    }

    h4 {
      font-weight: 600;
      margin: 10px 0 15px 0;
      font-size: 22px;

      a {
        color: $color_5;
        transition: ease-in-out 0.3s;
      }
    }

    p {
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
    }

    &:hover {
      border-color: $color_4;
      box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
    }
  }

  .iconbox-blue {
    i {
      color: $color_12;
    }

    &:hover {
      .icon {
        i {
          color: $color_4;
        }

        path {
          fill: $color_12;
        }
      }
    }
  }

  .iconbox-orange {
    i {
      color: $color_13;
    }

    &:hover {
      .icon {
        i {
          color: $color_4;
        }

        path {
          fill: $color_13;
        }
      }
    }
  }

  .iconbox-pink {
    i {
      color: $color_14;
    }

    &:hover {
      .icon {
        i {
          color: $color_4;
        }

        path {
          fill: $color_14;
        }
      }
    }
  }

  .iconbox-yellow {
    i {
      color: $color_15;
    }

    &:hover {
      .icon {
        i {
          color: $color_4;
        }

        path {
          fill: $color_15;
        }
      }
    }
  }

  .iconbox-red {
    i {
      color: $color_16;
    }

    &:hover {
      .icon {
        i {
          color: $color_4;
        }

        path {
          fill: $color_16;
        }
      }
    }
  }

  .iconbox-teal {
    i {
      color: $color_17;
    }

    &:hover {
      .icon {
        i {
          color: $color_4;
        }

        path {
          fill: $color_17;
        }
      }
    }
  }
}

.contact {
  .info {
    width: 100%;
    background: $color_4;

    i {
      font-size: 20px;
      color: $color_2;
      float: left;
      width: 44px;
      height: 44px;
      background: #eef7ff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
    }

    h4 {
      padding: 0 0 0 60px;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 5px;
      color: $color_5;
    }

    p {
      padding: 0 0 0 60px;
      margin-bottom: 0;
      font-size: 14px;
      color: $color_10;
    }

    .email {
      margin-top: 40px;

      &:hover {
        i {
          background: $color_2;
          color: $color_4;
        }
      }
    }

    .phone {
      margin-top: 40px;

      &:hover {
        i {
          background: $color_2;
          color: $color_4;
        }
      }
    }

    .address {
      &:hover {
        i {
          background: $color_2;
          color: $color_4;
        }
      }
    }
  }

  .php-email-form {
    width: 100%;
    background: $color_4;

    .form-group {
      padding-bottom: 8px;
    }

    .validate {
      display: none;
      color: $color_18;
      margin: 0 0 15px 0;
      font-weight: 400;
      font-size: 13px;
    }

    .error-message {
      display: none;
      color: $color_4;
      background: #ed3c0d;
      text-align: left;
      padding: 15px;
      font-weight: 600;

      br {
        + {
          br {
            margin-top: 25px;
          }
        }
      }
    }

    .sent-message {
      display: none;
      color: $color_4;
      background: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }

    .loading {
      display: none;
      background: $color_4;
      text-align: center;
      padding: 15px;

      &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: $color_2;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading 1s linear infinite;
      }
    }

    input {
      border-radius: 4px;
      box-shadow: none;
      font-size: 14px;
      height: 44px;
    }

    textarea {
      border-radius: 4px;
      box-shadow: none;
      font-size: 14px;
      padding: 10px 12px;
    }

    button[type="submit"] {
      background: $color_2;
      border: 0;
      padding: 10px 35px;
      color: $color_4;
      transition: 0.4s;
      border-radius: 50px;

      &:hover {
        background: #0678e3;
      }
    }
  }
}

.portfolio-details {
  padding: 40px 0;

  .portfolio-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .portfolio-details-carousel {
    .owl-nav {
      margin-top: 5px;
      text-align: center;
    }

    .owl-dots {
      margin-top: 5px;
      text-align: center;
    }

    .owl-dot {
      display: inline-block;
      margin: 0 5px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $color_4 !important;
    }

    .owl-dot.active {
      background-color: $color_2 !important;
    }
  }

  .portfolio-info {
    padding-top: 45px;

    h3 {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      padding: 0;
      font-size: 15px;

      li {
        + {
          li {
            margin-top: 10px;
          }
        }
      }
    }

    p {
      font-size: 15px;
      padding: 15px 0 0 0;
    }
  }
}

#footer {
  background: #f7f8f9;
  color: $color_5;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;

  h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: $font-family_3;
    padding: 0;
    margin: 0 0 15px 0;
  }

  p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }

  .social-links {
    margin: 0 0 40px 0;

    a {
      font-size: 18px;
      display: inline-block;
      background: $color_2;
      color: $color_4;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;
      box-shadow: 3px 1px 5px $color_7;

      &:hover {
        background: #0678e3;
        color: $color_4;
        text-decoration: none;
      }
    }
  }

  .copyright {
    margin: 0 0 5px 0;
  }

  .credits {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    background: $color_4;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }

  #hero {
    text-align: center;

    h1 {
      font-size: 32px;
      line-height: 36px;
    }

    p {
      margin-top: 10px;
      font-size: 20px;
      line-height: 24px;
    }
  }

  .portfolio-details {
    .portfolio-info {
      padding-top: 20px;
    }
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }

  .nav-menu {
    a {
      width: 56px;

      span {
        display: none;
        color: $color_4;
      }
    }
  }

  #hero {
    padding-left: 160px;
  }
}