@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  background: #fceded;
}

a {
  color: #5f9ea0;
}
a:hover {
  color: #456869;
  text-decoration: none;
}

h1 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-family: "Raleway", sans-serif;
}

h3 {
  font-family: "Raleway", sans-serif;
}

h4 {
  font-family: "Raleway", sans-serif;
}

h5 {
  font-family: "Raleway", sans-serif;
}

h6 {
  font-family: "Raleway", sans-serif;
}

.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #5f9ea0;
  color: #e9ebe9;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}
.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 8px;
}
.back-to-top:hover {
  color: #e9ebe9;
  background: #456869;
  transition: background 0.2s ease-in-out;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #e9ebe9;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #5f9ea0;
  border-top-color: #e9ebe9;
  border-bottom-color: #e9ebe9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav-menu a {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}
.nav-menu a i {
  font-size: 20px;
}
.nav-menu a span {
  padding: 0 5px 0 7px;
  color: #45505b;
}
.nav-menu a:hover {
  color: #e9ebe9;
  background: #272829;
  box-shadow: 3px 1px 5px #000000;
  width: 100%;
  color: #e9ebe9;
}
.nav-menu a:hover span {
  color: #e9ebe9;
  display: block;
}
.nav-menu .active > a {
  color: #e9ebe9;
  background: #272829;
  box-shadow: 3px 1px 5px #000000;
}
.nav-menu .active > a span {
  color: #e9ebe9;
}
.nav-menu li:hover > a {
  color: #e9ebe9;
  background: #272829;
  box-shadow: 3px 1px 5px #000000;
  width: 100%;
  color: #e9ebe9;
}
.nav-menu li:hover > a span {
  color: #e9ebe9;
  display: block;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}
.mobile-nav-toggle i {
  color: #e9ebe9;
}

.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active #header {
  left: 0;
}
.mobile-nav-active .mobile-nav-toggle i {
  color: #e9ebe9;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/banner-image.jpg") top left no-repeat;
  background-size: cover;
  position: relative;
}
#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero h1 {
  margin: -186px 0 0 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #e9ebe9;
  position: relative;
  left: 597px;
  text-shadow: 3px 2px 5px #000000;
}
#hero p {
  color: #45505b;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  position: relative;
  left: 602px;
  text-shadow: 3px 2px 5px #000000;
}
#hero p span {
  font-weight: bold;
  color: #cd5c5c;
  letter-spacing: 5px;
  text-shadow: 3px 2px 5px #000000;
}
#hero .social-links {
  margin-top: 30px;
  position: relative;
  left: 600px;
}
#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #000000;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
  padding: 11px;
  background: white;
  border-radius: 50%;
  box-shadow: 3px 1px 5px #000000;
}
#hero .social-links a:hover {
  color: #272829;
}

section {
  padding: 60px 0;
  overflow: hidden;
}
section.section-bg {
  background-color: #272829;
}
@media (min-width: 992px) {
  section.section-bg {
    margin-left: -7rem;
    padding-left: 7rem;
  }
}
section.section-bg h4,
section.section-bg p {
  color: #e9ebe9;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #456869;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #5f9ea0;
  bottom: 0;
  left: calc(50% - 20px);
}
.section-title p {
  margin-bottom: 0;
}

.about .img-fluid {
  filter: grayscale(1);
}
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #272829;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-bottom: 10px;
}
.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #5f9ea0;
}
.about .content ol {
  list-style: outside;
}
.about .content p:last-child {
  margin-bottom: 0;
}

.interests .count-box {
  padding: 30px 30px 25px 30px;
  margin-top: 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #e9ebe9;
  box-shadow: 3px 1px 5px #000000;
}
.interests .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #5f9ea0;
  padding: 12px;
  color: #e9ebe9;
  border-radius: 50px;
}
.interests .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #011426;
}
.interests .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.skills .progress {
  height: 50px;
  display: block;
  background: none;
}
.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #45505b;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: #f2f3f5;
}
.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #5f9ea0;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #5f9ea0;
  position: relative;
}
.resume .resume-item blockquote {
  line-height: 0.5;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #5f9ea0;
  margin-bottom: 10px;
}
.resume .resume-item h5 {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  float: inline-end;
}
.resume .resume-item ul {
  padding-left: 20px;
}
.resume .resume-item ul li {
  padding-bottom: 4px;
}
.resume .resume-item:last-child {
  padding-bottom: 0;
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #e9ebe9;
  border: 2px solid #5f9ea0;
}

.contact .info {
  width: 100%;
}
.contact .info i {
  font-size: 20px;
  color: #5f9ea0;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #272829;
}
.contact .info .email {
  margin-top: 40px;
}
.contact .info .email:hover i {
  background: #5f9ea0;
  color: #e9ebe9;
}
.contact .info .phone {
  margin-top: 40px;
}
.contact .info .phone:hover i {
  background: #5f9ea0;
  color: #e9ebe9;
}
.contact .info .address:hover i {
  background: #5f9ea0;
  color: #e9ebe9;
}
.contact .php-email-form {
  width: 100%;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .validate {
  display: none;
  color: #ff0000;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #e9ebe9;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #e9ebe9;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #e9ebe9;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #5f9ea0;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
  height: 44px;
}
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
  padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
  background: #5f9ea0;
  border: 0;
  padding: 10px 35px;
  color: #e9ebe9;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #456869;
}

#footer {
  background: #272829;
  color: #e9ebe9;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}
#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}
#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}
#footer .social-links {
  margin: 0 0 40px 0;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #5f9ea0;
  color: #e9ebe9;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  box-shadow: 3px 1px 5px #000000;
}
#footer .social-links a:hover {
  background: #456869;
  color: #e9ebe9;
  text-decoration: none;
}
#footer .copyright {
  margin: 0 0 5px 0;
}
#footer .credits {
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #e9ebe9;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}
@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
  .nav-menu a {
    width: 56px;
  }
  .nav-menu a span {
    display: none;
    color: #e9ebe9;
  }
  #hero {
    padding-left: 160px;
  }
}
#projects .projects-wrapper .slick-arrow {
  position: absolute;
  top: -40px;
  color: #fceded;
  font-size: 30px;
  right: 0;
  cursor: pointer;
}
@media (min-width: 768px) {
  #projects .projects-wrapper .slick-arrow {
    top: -80px;
    font-size: 40px;
  }
}
#projects .projects-wrapper .bxs-left-arrow-circle.slick-arrow {
  margin-right: 35px;
}
@media (min-width: 768px) {
  #projects .projects-wrapper .bxs-left-arrow-circle.slick-arrow {
    margin-right: 45px;
  }
}
#projects .projects-wrapper .project .medias .slick-arrow {
  position: absolute;
  top: initial;
  bottom: 10px;
  font-size: 35px;
  left: 10px;
  cursor: pointer;
  mix-blend-mode: difference;
}
#projects .projects-wrapper .project .medias .bx-up-arrow-circle.slick-arrow {
  margin-bottom: 40px;
}
#projects .projects-wrapper .project .medias .bx-down-arrow-circle.slick-arrow {
  z-index: 1;
}/*# sourceMappingURL=style.css.map */