$body-bg: #fceded;
$primary-color: #272829;
$secondary-color: #6d1a1a;
$secondary-color-hover: #6d1a1ac2;
$passion-color: #cd5c5c;
$brand-white: #e9ebe9;
$main_title-color: #45505b;
$black: #000000;
$color_11: #011426;
$color_14: #e80368;
$color_18: #ff0000;
$font-family_1: "Open Sans",
sans-serif;
$font-family_2: "Raleway",
sans-serif;
$font-family_3: "Poppins",
sans-serif;

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
body {
  font-family: $font-family_1;
  color: $primary-color;
  background: $body-bg;
}

a {
  color: $secondary-color;

  &:hover {
    color: $secondary-color-hover;
    text-decoration: none;
  }
}

h1 {
  font-family: $font-family_2;
}

h2 {
  font-family: $font-family_2;
}

h3 {
  font-family: $font-family_2;
}

h4 {
  font-family: $font-family_2;
}

h5 {
  font-family: $font-family_2;
}

h6 {
  font-family: $font-family_2;
}

.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: $secondary-color;
  color: $brand-white;
  transition: display 0.5s ease-in-out;
  z-index: 99999;

  i {
    font-size: 24px;
    position: absolute;
    top: 7px;
    left: 8px;
  }

  &:hover {
    color: $brand-white;
    background: $secondary-color-hover;
    transition: background 0.2s ease-in-out;
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: $brand-white;

  &:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid $secondary-color;
    border-top-color: $brand-white;
    border-bottom-color: $brand-white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

.nav-menu {
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  >ul {
    >li {
      position: relative;
      white-space: nowrap;
    }
  }

  a {
    display: flex;
    align-items: center;
    color: $main_title-color;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;

    i {
      font-size: 20px;
    }

    span {
      padding: 0 5px 0 7px;
      color: $main_title-color;
    }

    &:hover {
      color: $brand-white;
      background: $primary-color;
      box-shadow: 3px 1px 5px $black;
      width: 100%;
      color: $brand-white;

      span {
        color: $brand-white;
        display: block;
      }
    }
  }

  .active {
    >a {
      color: $brand-white;
      background: $primary-color;
      box-shadow: 3px 1px 5px $black;

      span {
        color: $brand-white;
      }
    }
  }

  li {
    &:hover {
      >a {
        color: $brand-white;
        background: $primary-color;
        box-shadow: 3px 1px 5px $black;
        width: 100%;
        color: $brand-white;

        span {
          color: $brand-white;
          display: block;
        }
      }
    }
  }
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;

  i {
    color: $brand-white;
  }
}

.mobile-nav-active {
  overflow: hidden;

  #header {
    left: 0;
  }

  .mobile-nav-toggle {
    i {
      color: $brand-white;
    }
  }
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/banner-image.jpg") top left no-repeat;
  background-size: cover;
  position: relative;

  &:before {
    content: "";
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  h1 {
    margin: -186px 0 0 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: $brand-white;
    position: relative;
    left: 597px;
    text-shadow: 3px 2px 5px $black;
  }

  p {
    color: $main_title-color;
    margin: 15px 0 0 0;
    font-size: 26px;
    font-family: $font-family_3;
    position: relative;
    left: 602px;
    text-shadow: 3px 2px 5px $black;

    span {
      font-weight: bold;
      color: $passion-color;
      letter-spacing: 5px;
      text-shadow: 3px 2px 5px $black;
    }
  }

  .social-links {
    margin-top: 30px;
    position: relative;
    left: 600px;

    a {
      font-size: 24px;
      display: inline-block;
      color: $black;
      line-height: 1;
      margin-right: 20px;
      transition: 0.3s;
      padding: 11px;
      background: white;
      border-radius: 50%;
      box-shadow: 3px 1px 5px $black;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;

  h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: $main_title-color;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: $color_14;
      bottom: 1px;
      left: calc(50% - 60px);
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: $secondary-color;
      bottom: 0;
      left: calc(50% - 20px);
    }
  }

  p {
    margin-bottom: 0;
  }
}

.about {
  .img-fluid {
    filter: grayscale(1);
  }

  .content {
    h3 {
      font-weight: 700;
      font-size: 26px;
      color: $primary-color;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding-bottom: 10px;
      }

      i {
        font-size: 20px;
        padding-right: 2px;
        color: $secondary-color;
      }
    }

    ol {
      list-style: outside;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.interests {
  .count-box {
    padding: 30px 30px 25px 30px;
    margin-top: 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: $brand-white;
    box-shadow: 3px 1px 5px $black;

    i {
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 24px;
      background: $secondary-color;
      padding: 12px;
      color: $brand-white;
      border-radius: 50px;
    }

    span {
      font-size: 36px;
      display: block;
      font-weight: 600;
      color: $color_11;
    }

    p {
      padding: 0;
      margin: 0;
      font-family: $font-family_2;
      font-size: 14px;
    }
  }
}

.skills {
  .progress {
    height: 50px;
    display: block;
    background: none;

    .skill {
      padding: 10px 0;
      margin: 0 0 6px 0;
      text-transform: uppercase;
      display: block;
      font-weight: 600;
      font-family: $font-family_3;
      color: $main_title-color;

      .val {
        float: right;
        font-style: normal;
      }
    }
  }

  .progress-bar-wrap {
    background: #f2f3f5;
  }

  .progress-bar {
    width: 1px;
    height: 10px;
    transition: .9s;
    background-color: $secondary-color;
  }
}

.resume {
  .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $main_title-color;
  }

  .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid $secondary-color;
    position: relative;

    blockquote {
      line-height: 0.5;
    }

    h4 {
      line-height: 18px;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: $font-family_3;
      color: $secondary-color;
      margin-bottom: 10px;
    }

    h5 {
      font-size: 16px;
      font-weight: 600;
      font-style: italic;
      float: inline-end;
    }

    ul {
      padding-left: 20px;

      li {
        padding-bottom: 4px;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      left: -9px;
      top: 0;
      background: $brand-white;
      border: 2px solid $secondary-color;
    }
  }
}

.contact {
  .info {
    width: 100%;

    i {
      font-size: 20px;
      color: $secondary-color;
      float: left;
      width: 44px;
      height: 44px;
      background: #eef7ff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
    }

    h4 {
      padding: 0 0 0 60px;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 5px;
      color: $main_title-color;
    }

    p {
      padding: 0 0 0 60px;
      margin-bottom: 0;
      font-size: 14px;
      color: $primary-color;
    }

    .email {
      margin-top: 40px;

      &:hover {
        i {
          background: $secondary-color;
          color: $brand-white;
        }
      }
    }

    .phone {
      margin-top: 40px;

      &:hover {
        i {
          background: $secondary-color;
          color: $brand-white;
        }
      }
    }

    .address {
      &:hover {
        i {
          background: $secondary-color;
          color: $brand-white;
        }
      }
    }
  }

  .php-email-form {
    width: 100%;

    .form-group {
      padding-bottom: 8px;
    }

    .validate {
      display: none;
      color: $color_18;
      margin: 0 0 15px 0;
      font-weight: 400;
      font-size: 13px;
    }

    .error-message {
      display: none;
      color: $brand-white;
      background: #ed3c0d;
      text-align: left;
      padding: 15px;
      font-weight: 600;

      br {
        + {
          br {
            margin-top: 25px;
          }
        }
      }
    }

    .sent-message {
      display: none;
      color: $brand-white;
      background: #18d26e;
      text-align: center;
      padding: 15px;
      font-weight: 600;
    }

    .loading {
      display: none;
      background: $brand-white;
      text-align: center;
      padding: 15px;

      &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: $secondary-color;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading 1s linear infinite;
      }
    }

    input {
      border-radius: 4px;
      box-shadow: none;
      font-size: 14px;
      height: 44px;
    }

    textarea {
      border-radius: 4px;
      box-shadow: none;
      font-size: 14px;
      padding: 10px 12px;
    }

    button[type="submit"] {
      background: $secondary-color;
      border: 0;
      padding: 10px 35px;
      color: $brand-white;
      transition: 0.4s;
      border-radius: 50px;

      &:hover {
        background: $secondary-color-hover;
      }
    }
  }
}

// .portfolio-details {
//   padding: 40px 0;

//   .portfolio-title {
//     font-size: 26px;
//     font-weight: 700;
//     margin-bottom: 20px;
//   }

//   .portfolio-details-carousel {
//     .owl-nav {
//       margin-top: 5px;
//       text-align: center;
//     }

//     .owl-dots {
//       margin-top: 5px;
//       text-align: center;
//     }

//     .owl-dot {
//       display: inline-block;
//       margin: 0 5px;
//       width: 12px;
//       height: 12px;
//       border-radius: 50%;
//       background-color: $brand-white !important;
//     }

//     .owl-dot.active {
//       background-color: $secondary-color !important;
//     }
//   }

//   .portfolio-info {
//     padding-top: 45px;

//     h3 {
//       font-size: 22px;
//       font-weight: 400;
//       margin-bottom: 20px;
//     }

//     ul {
//       list-style: none;
//       padding: 0;
//       font-size: 15px;

//       li {
//         + {
//           li {
//             margin-top: 10px;
//           }
//         }
//       }
//     }

//     p {
//       font-size: 15px;
//       padding: 15px 0 0 0;
//     }
//   }
// }

#footer {
  background: $primary-color;
  color: $brand-white;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;

  h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: $font-family_3;
    padding: 0;
    margin: 0 0 15px 0;
  }

  p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }

  .social-links {
    margin: 0 0 40px 0;

    a {
      font-size: 18px;
      display: inline-block;
      background: $secondary-color;
      color: $brand-white;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;
      box-shadow: 3px 1px 5px $black;

      &:hover {
        background: $secondary-color-hover;
        color: $brand-white;
        text-decoration: none;
      }
    }
  }

  .copyright {
    margin: 0 0 5px 0;
  }

  .credits {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    background: $brand-white;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }

  #hero {
    text-align: center;

    h1 {
      font-size: 32px;
      line-height: 36px;
    }

    p {
      margin-top: 10px;
      font-size: 20px;
      line-height: 24px;
    }
  }

  .portfolio-details {
    .portfolio-info {
      padding-top: 20px;
    }
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }

  .nav-menu {
    a {
      width: 56px;

      span {
        display: none;
        color: $brand-white;
      }
    }
  }

  #hero {
    padding-left: 160px;
  }
}